.flex{
  display: flex;
}

#container{
  padding: 20px 0px 20px 0px;
  flex-direction: row;
  background-color: #FAF3C8;
  justify-content: center;
  gap: 20px
}

h1{
  color:#CEC8FA;
}

h2{
  color: #FFFCE6;
}

img{
  width: 450px;
  height: 150px;
}

p{
  line-height: 30px;
}

.content{
  padding: 20px 20px 60px 20px;
  font-family: sans-serif;
}

a{
  align-items: flex-end;
  background-color: #FAF3C8;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px
}

.interactivity p{
  justify-content: space-between;
  background-color: #FAF3C8;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card{
  flex-direction: column;
  height: 550px;
  width: 450px;
  background-color: #ADA679;
  
}

.interactivity{
  flex-direction: row;
  justify-content: space-between;
}
.interactivity--stats{
  flex-direction: column;
}